<div class="page-wrapper">

    <div class="row">
        <div class="panel-heading">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-battery-quarter fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">26</div>
                            <div>Replace Device</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bed fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">67</div>
                            <div>Normal</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-heartbeat fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">13</div>
                            <div>Heart Rate Alerts</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user-md fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">1</div>
                            <div>Immediate Attention</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                   Current Resident Status
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                
                                <th>Status</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>HR</th>
                                <th>Oxygen</th>
                                <th>Walks</th>
                                <th>Floors</th>
                                <th>Water</th>
                                <th>H2O Vol</th>
                                <th>Med</th>
                                <th>Fall</th>
                                <th>Sleep</th>
                            </tr>
                        </thead>
                       
                            <!--
                            <tr>
                              
                                <td><span class="label label-pill label-success">OK</span></td>
                                <td>23568</td>
                                <td>Jason曾</td>
                                <td>71-75</td>
                                <td><span class="label label-pill label-success">84</span></td>
                                <td><span class="label label-pill label-success">95%</span></td>
                                <td>5077</td>
                                <td>2</td>
                                <td>15 Feb 14:00</td>
                                <td>0.5 L</td>
                                <td>15 Feb 14:00</td>
                                <td><span class="label label-pill label-success">0</span></td>
                                <td>7:50</td>
                            </tr>
                            <tr>
                               
                                <td><span class="label label-pill label-danger">Danger</span></td>
                                <td>35767</td>
                                <td>Jasper Tsang</td>
                                <td>66-70</td>
                                <td><span class="label label-pill label-success">76</span></td>
                                <td><span class="label label-pill label-success">96%</span></td>
                                <td>1099</td>
                                <td>3</td>
                                <td>15 Feb 14:34</td>
                                <td>0.6 L</td>
                                <td>15 Feb 14:34</td>
                                <td><span class="label label-pill label-danger">1</span></td>
                                <td>6:50</td>
                            </tr>
                            <tr>
                               
                                <td><span class="label label-pill label-warning">Warn</span></td>
                                <td>65656</td>
                                <td>陳少妹</td>
                                <td>81-90</td>
                                <td><span class="label label-pill label-success">76</span></td>
                                <td><span class="label label-pill label-warning">90%</span></td>
                                <td>23</td>
                                <td>0</td>
                                <td>15 Feb 16:24</td>
                                <td>0.3 L</td>
                                <td>15 Feb 16:34</td>
                                <td><span class="label label-pill label-success">0</span></td>
                                <td>6:37</td>
                            </tr>
                            <tr>
                                
                                <td><span class="label label-pill label-success">OK</span></td>
                                <td>75469</td>
                                <td>王美芬</td>
                                <td>61-65</td>
                                <td><span class="label label-pill label-success">77</span></td>
                                <td><span class="label label-pill label-success">96%</span></td>
                                <td>7898</td>
                                <td>5</td>
                                <td>15 Feb 17:08</td>
                                <td>1.2 L</td>
                                <td>15 Feb 17:08</td>
                                <td><span class="label label-pill label-success">0</span></td>
                                <td>5:50</td>
                            </tr>
                            <tr>
                                
                                <td><span class="label label-pill label-danger">Danger</span></td>
                                <td>13354</td>
                                <td>梁慧琼</td>
                                <td>51-55</td>
                                <td><span class="label label-pill label-danger">30</span></td>
                                <td><span class="label label-pill label-danger">80%</span></td>
                                <td>234</td>
                                <td>0</td>
                                <td>15 Feb 14:56</td>
                                <td>0.9 L</td>
                                <td>15 Feb 14:58</td>
                                <td><span class="label label-pill label-success">0</span></td>
                                <td>4:59</td>
                            </tr>
                            <tr>
                               
                                <td><span class="label label-pill label-success">OK</span></td>
                                <td>21343</td>
                                <td>張俊華</td>
                                <td>71-75</td>
                                <td><span class="label label-pill label-success">84</span></td>
                                <td><span class="label label-pill label-success">95%</span></td>
                                <td>1023</td>
                                <td>0</td>
                                <td>15 Feb 15:10</td>
                                <td>0.8 L</td>
                                <td>15 Feb 14:13</td>
                                <td><span class="label label-pill label-success">0</span></td>
                                <td>7:50</td>
                            </tr>
                            <tr>
                                
                                <td><span class="label label-pill label-success">OK</span></td>
                                <td>23568</td>
                                <td>元秋</td>
                                <td>71-75</td>
                                <td><span class="label label-pill label-success">84</span></td>
                                <td><span class="label label-pill label-success">95%</span></td>
                                <td>3224</td>
                                <td>1</td>
                                <td>15 Feb 14:44</td>
                                <td>2 L</td>
                                <td>15 Feb 14:44</td>
                                <td><span class="label label-pill label-success">0</span></td>
                                <td>7:50</td>
                            </tr>
                            <tr>
                               
                                <td><span class="label label-pill label-success">OK</span></td>
                                <td>33574</td>
                                <td>夏韶聲</td>
                                <td>61-65</td>
                                <td><span class="label label-pill label-success">84</span></td>
                                <td><span class="label label-pill label-success">95%</span></td>
                                <td>1756</td>
                                <td>0</td>
                                <td>15 Feb 14:28</td>
                                <td>0.4 L</td>
                                <td>15 Feb 14:29</td>
                                <td><span class="label label-pill label-success">0</span></td>
                                <td>7:50</td>
                            </tr>
                            -->
                            
                            <tbody *ngIf="entries" >
                                <tr *ngFor="let e of entries" >
                                    
                                        <td><span class="label label-pill label-success">OK</span></td>
                                        <td>{{e.residentId}}</td>
                                        <td>{{e.name}}</td>
                                        <td>61-65</td>
                                        <td><span class="label label-pill label-success">{{e.hr}}</span></td>
                                        <td><span class="label label-pill label-success">{{e.o2_sat_percent}}%</span></td>
                                        <td>{{e.step}}</td>
                                        <td>{{e.floors_asc + e.floors_desc}}</td>
                                        <td>{{e.water_datetime}}</td>
                                        <td>{{e.water_intake_ml/1000}} L</td>
                                        <td>{{e.med_datetime}}</td>
                                        <td><span class="label label-pill label-success">{{e.fall}}</span></td>
                                        <td>{{e.sleep}}</td>
                                </tr>
                                    
                        
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->

                </div>
                <!-- /.panel-body -->
            </div>

        </div>
    </div>
</div>


<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
        alert('msg');
    });
</script>